:root {
    --dark-grey: #403f40;
    --grey: #535253;
    --light-grey: #6f6e6f;
    --cloud-grey: #b0b0b0;
    --orange: #ff9f0b;
    --dark-orange: #cb7d04;
    --backdrop: #202026;
    --border: #474545;
    --background: #e4e4e6;
}

body {
    background-color: black;
    color: var(--background);

    margin: 0;
    padding: 0;
    border: 0;

    display: flex;
    flex-direction: column;
    gap: 32px;
    min-height: 100vh;

    font-family: Arial, Helvetica, sans-serif;

    background-color: black;
}

header {
    font-size: 48px;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    background-color: black;
}

button.wide {
    border-bottom-left-radius: 16px;
}

button#equals {
    border-bottom-right-radius: 16px;
}

#main {
    display: flex;
    flex: 1;

    justify-content: center;
    align-items: center;
    
    background-color: var(--background);
}

#calc {
    border-radius: 16px;
    opacity: 90%;
    background-color: var(--dark-grey);
    box-shadow: 16px 16px black;
}

#calcBody {
    border-radius: 16px;
}

#display {
    display: flex;

    justify-content: flex-end;
    padding: 24px;

    font-family: monospace;
    font-size: 32px;

    border-radius: 16px;
    background-color: var(--dark-grey);
}

.table {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.col {
    padding: 0px;
    width: 64px;
    height: 64px;
    font-size: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: .5px solid var(--border);
}

.wide {
    flex: 1;
}

button.col {
    color: white;
}

button.col.action:active {
    background-color: var(--dark-orange);
}

button.col:active {
    background-color: var(--cloud-grey);
}

button.action.special:active {
    background-color: var(--light-grey);
}

button.option {
    background-color: var(--light-grey);
}

button.action.special {
    background-color: var(--grey);
}

button.action {
    background-color: var(--orange);
}

button.action.active {
    background-color: var(--dark-orange);
}